/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    margin: 15px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e3a34c;
    border-radius: 5px;
  }
/*** Spinner Start ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
 }

 #spinner.show {
     transition: opacity .8s ease-out, visibility 0s linear .0s;
     visibility: visible;
     opacity: 1;
 }
/*** Spinner End ***/


.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

h1, h2, h3, .h1, .h2, .h3 {

    font-family: 'Arial' ,sans-serif !important;
    font-weight: 700 !important;
    line-height: 40px;
}

h4, h5, h6, .h4, .h5, .h6 {
    font-weight: 600 !important;
    font-family: 'Open Sans', sans-serif !important;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.wow,
.animated {
    animation-duration: 2s !important;
}


/*** Button Start ***/
.btn  {
    color: white;
}
.btn.btn-primary {
    border-color: black;
    border: solid;
}


.rounded-pill,
.btn-search{
    position: relative; 
	overflow: hidden;
	z-index: 1;
}

.btn.btn-primary::after {
    content: '';
	width: 1px;
	height: 1px;
	position: absolute;
	bottom: -1px;
	left: 20px;
	transform: scale(var(--scale, 1));
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	color: white;
	z-index: -1;
	transition: 0.7s;
}
.rounded-pill:is(:hover, :focus)::after {
	--scale: 500;
}
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 38px;
    height: 38px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}
/*** Button End ***/

 

 .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: rgb(0, 0, 0);
    border-bottom: 3px solid var(--main-color);
    z-index: 100;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
  }
  @media (max-width: 767px) {
    .navbar-nav .mega-menu {
  
      gap: 0;
      padding: 5px;
    }
    @media (max-width: 500px) {
      .navbar-nav .mega-menu {
        flex-direction: column;
      }
    }
  }

  @media (max-width: 991px) {
    .navbar-nav .mega-menu .image {
      display: none;
    }
  }

/* CSS */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: var(--main-color);
    cursor: pointer;
    display: inline-flex;
    font-family: "Open Sans",sans-serif;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 15px;
  }
  
  .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    color: rgb(0, 0, 0);
  }
  
  .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }


  .links {
    min-width: 250px;
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    padding: 10px;
  }
  

  .links li {
    position: relative;
    text-decoration: none;
    list-style-type: none;
    padding: 20px;
  }
  .links li {
    border-bottom: 1px solid #e9e6e6;
  }
  @media (max-width: 767px) {
   .links:first-of-type li:last-child {
      border-bottom: 1px solid #e9e6e6;
    }
  }
  .links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: var(--main-transition);
  }
.links li:hover::before {
    width: 100%;
  }
   .links li a {
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 20px;
    text-align: center;
  }
  .links li a img {
    width: 5rem;

  }

   .links li a i {
    margin-right: 10px;
  }
/*** Navbar Start ***/
.nav-bar {
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    padding-top: 5px;
    box-shadow: 0 0.0625rem 0.5rem 0 rgba(0,0,0,.04), 0 0.0625rem 0.3125rem 0 rgba(0,0,0,.04);
}
.roundedd {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border-radius: 10% 0% 0% 10% / 100% 0% 0% 100%;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transition: 0.2s;
    margin-top: 10px;
    position: relative;
    top: 0;
    object-fit: cover;
}
.navbar .navbar-nav .nav-link {
    padding: 10px 12px;
    font-weight: 600;
    font-size: 17px;
    transition: .5s;
    font-family: "Open sans", sans-serif;
}
.nav-link.nav-special {
    display: none;
}
@media (max-width:992px){
    .nav-link.nav-special{
        display: block;
    }
}
@media (max-width:992px){
    .dropi{
        display: none;
    }
}
.navbar-brand img {
    width: 15rem;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #e3a34c;
}
.navbar .navbar-nav .nav-link:hover .mega-menu {
    display: block;
    opacity: 1;
}
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }
    
    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        opacity: 1;
    }
}

.dropdown .dropdown-menu a:hover {
    color: var(--bs-primary);
}

#searchModal .modal-content {
    background-color: rgba(255, 255, 255, .95);
}
/*** Navbar End ***/


/*** Events Start ***/
.event .tab-class .nav-item a.active {
    background: var(--bs-primary) !important;
}

.event .event-img .event-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(212, 167, 98, 0.7);
    border-radius: 8px;
    transition: 0.5s;
    opacity: 0;
    z-index: 1;
}

.event .event-img:hover .event-overlay {
    opacity: 1;
}
/*** Events End ***/


/*** service start ***/
.service .service-item {
    position: relative;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.service-content::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    bottom: auto;
    background: var(--bs-primary);
    border-radius: 8px;
    transition: 1s;
}

.service-item:hover .service-content::after {
    height: 100%;
    opacity: 1;
}

.service-item .service-content-icon {
    position: relative;
    z-index: 2;
}

.service-item .service-content-icon i,
.service-item .service-content-icon p {
    transition: 1s;
}

.service-item:hover .service-content-icon i {
    color: var(--bs-dark) !important;
}

.service-item:hover .service-content-icon p {
    color: var(--bs-white);
}

.service-item:hover .service-content-icon a.btn-primary {
    background: var(--bs-white);
    color: var(--bs-dark);
}

.service-item .service-content-icon a.btn-primary {
    transition: 1s !important;
}
/*** Services End ***/


/*** Menu Start ***/
.menu .nav-item a.active {
    background: var(--bs-primary) !important;
}

.menu .menu-item .border-bottom {
    border-bottom-style: dashed !important;
}
/*** Menu End ***/


/*** Youtube Video start ***/
.video {
    position: relative;
    height: 100%;
    min-height: 400px;
    background: linear-gradient(rgba(254, 218, 154, 0.1), rgba(254, 218, 154, 0.1)), url(../img/fact.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.video .btn-play {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 18px 20px 18px 28px;
}

.video .btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--bs-primary);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--bs-white);
    border-radius: 50%;
    transition: all 200ms;
}

.video .btn-play img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.video .btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid var(--bs-dark);
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

#videoModal {
    z-index: 99999;
}

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
    background: #000000;
    opacity: 1;
}
/*** Youtube Video End ***/


/*** Blog Start ***/
.blog-item {
    position: relative;
}

.blog-item img {
    transition: 0.5s;
}

.blog-item:hover img {
    transform: scale(1.3)
}

.blog-item .blog-content {
    position: relative;
    transform: translateY(-50%);
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.blog-item .blog-content a.btn h5 {
    transition: 0.5s;
}

.blog-item:hover .blog-content a.btn h5 {
    color: var(--bs-primary) !important;
}
/*** Blog End ***/


/*** Team Start ***/
.team-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.team-item .team-icon {
    position: absolute;
    top: 0;
    right: 0;
}

.team-item .team-icon .share-link {
    opacity: 0;
    transition: 0.9s;
}

.team-item:hover .share-link {
    opacity: 1;
}

.team-item .team-content {
    transition: 0.9s;
}

.team-item:hover .team-content {
    background: var(--bs-primary) !important;
    color: var(--bs-dark) !important;
}

.team-item .team-content h4,
.team-item .team-content p {
    transition: 0.5s;
}

.team-item:hover .team-content h4 {
    color: var(--bs-dark) !important;
}

.team-item:hover .team-content p {
    color: var(--bs-white);
}
/*** Team End ***/


/*** testimonial Start ***/
.testimonial-item {
    border: 1px solid var(--bs-primary);
    padding: 20px 20px;
}

.testimonial-carousel .owl-item img {
    width: 100px;
    height: 100px;
}

.testimonial-carousel.owl-rtl .testimonial-item {
    direction: ltr !important;
}
/*** testimonial End ***/


/*** Contact start ***/
.contact-form {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

/*** Contact End ***/


/*** Footer Start ***/
.footer {
    padding: 40px 12px 40px 12px;
}
.footer .footer-item a.text-body:hover {
    color: var(--bs-primary) !important;
}
.footer-item img {
    width: 100%;
}
.footer {
    border-top: 1px solid rgba(0, 0, 0, .05);
    box-shadow: 0 0.0625rem 0.5rem 0 rgba(0,0,0,.04), 0 0.0625rem 0.3125rem 0 rgba(0,0,0,.04);
}
/*** Footer End ***/


.modal-body h2 {
    text-align: center;
    font-family: var(--bs-primary);
}
.btn-option {

    float: right;
    margin-right: 0;
    text-align: right;

}





/* Start Header */
.header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
  }
  .header img {
    width: 15rem;
  }
  .header .containeerr {
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 767px) {
    .header .logo {
      width: 100%;
      height: 50px;
    }
  }
  .header .main-nav {
    display: flex;
  }
  @media (max-width: 767px) {
    .header .main-nav {
      margin: auto;
    }
  }
  .header .main-nav > li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
  }
  .header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    overflow: hidden;
    font-size: 18px;
    transition: var(--main-transition);
  }
  @media (max-width: 767px) {
    .header .main-nav > li > a {
      padding: 10px;
      font-size: 14px;
      height: 40px;
    }
  }
  .header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
  }
  .header .main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;
  }
  .header .main-nav > li > a:hover::before {
    left: 0;
  }
  .header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
  }
  @media (max-width: 767px) {
    .header .mega-menu {
  
      gap: 0;
      padding: 5px;
    }
    @media (max-width: 500px) {
      .header .mega-menu {
        flex-direction: column;
      }
    }
  }
  .header .mega-menu .image img {
    max-width: 100%;
    border-radius: 35px;
    width: 20rem;
  }
  @media (max-width: 991px) {
    .header .mega-menu .image {
      display: none;
    }
  }
  .header .mega-menu .links {
    min-width: 250px;
    flex: 1;
  }
  .header .mega-menu .links li {
    position: relative;
    list-style-type: none;
    text-decoration: none;
  }
  .header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
  }
  @media (max-width: 767px) {
    .header .mega-menu .links:first-of-type li:last-child {
      border-bottom: 1px solid #e9e6e6;
    }
  }
  .header .mega-menu .links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);
  }
  .header .mega-menu .links li:hover::before {
    width: 100%;
  }
  .header .mega-menu .links li a {
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
  }
  .header .mega-menu .links li a i {
    margin-right: 10px;
  }
  
  
  
  
  
  /*********************************************/
  
  .header .main-nav > li:hover .mega-m {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
  }
  
  .langimg{
    width: 1.5rem;
  }
  
  .linkss{
    min-width: 250px;
    flex: 1;
  }
  .linkss li {
    position: relative;

  }
  .mega-m .linkss li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
  }
  @media (max-width: 767px) {
  .mega-m .linkss:first-of-type li:last-child {
      border-bottom: 1px solid #e9e6e6;
    }
  }
  .mega-m .linkss li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);
  }
  .mega-m .linkss li a:hover{
    color: rgb(179, 25, 25);
    transform: scale(1.2);
  }
  
  .mega-m .linkss li a {
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  .mega-m{
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
  }
  
  @media (max-width: 767px) {
    .header .mega-m {
      gap: 0;
      padding: 5px;
    }
    @media (max-width: 500px) {
      .header .mega-m {
        flex-direction: column;
      }
    }
  }
  /* End Header */

  .col-text {
    height:20em;
  }
  .justy {
    text-align: justify;
  }
  .grid-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    flex-direction: row; 
    -webkit-flex-direction: row;
    /* -webkit-flex-wrap: wrap; */
    -webkit-justify-content: space-around;
    margin-top: 2rem;
  }
  .grid-flex:hover .roundedd {
    box-shadow: rgba(119, 119, 119, 0.4) 0px 0px 0px 1px,
    rgba(119, 119, 119, 0.3) 6px 6px 6px 6px, rgb(119, 119, 119, 0.2) 11px 11px 11px 11px;  }
  .col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .col-left {
    -webkit-box-ordinal-group:-1;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .col-text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .Aligner-item {
    width: 60%;
  }
  .col-image {
    background-size: cover;
    background-position:center center;
    margin: 0 3rem 0 3rem;
  }
  
  @media (max-width: 795px) {
    .grid-flex {
      height: 32em;
      display: -webkit-flex;
      -webkit-flex-direction: column;
      flex-direction: column; 
      margin-top: 6rem;
     }
    .col {
      order:vertical;
    }
    .col-left {
      -webkit-box-ordinal-group:0;
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
    }
    .col-text div p {
      padding: 1em;
    }
    .Aligner-item {
      width: 90%;
    }
  }
  @media (max-width:992px){
    .block{
        display: block !important;
    }
    .rounded-pill:is(:hover, :focus)::after {
        --scale: 1100;
    }
  }
  
  .delivery-options, .card-details, .delivery-images {
    display: none;
}
        .delivery-images img {
            width: 67px; /* Adjust the width as needed */
            height: 70px; /* Adjust the height as needed */
            border: 2px solid transparent;
            transition: border-color 0.3s;
            cursor: pointer;
        }
             /* Add styles for selected image */
             .selected-image {
                border: 2px solid #007bff; /* Blue border */
                box-shadow: 0 0 10px rgba(105, 105, 105, 0.5); /* Blue shadow */
                transform: scale(1.2); /* Slight scale transformation */
                border-radius: 8px;
            }
            .not-allowed {
                cursor: not-allowed;
              }
            

  
  /*********************** LOGIN Start *************************/ 
  .the-log {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }

  .wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
     border: 2px solid rgba(255, 255, 255, .5);
     border-radius: 20px;
     backdrop-filter: blur(20px);
     box-shadow: 0 0 30px rgba(0, 0, 0, .5);
     display: flex;
     justify-content: center;
     align-items: center; 
     overflow: hidden;
     transform: scale(0);
     transition: transform .5s ease, height .2s ease;
  }
  .wrapper.active-popup {
    transform: scale(1);
  }
  .wrapper.active {
    height: 520px;
  }
  .wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
  }
  .wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
  }
  .wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
  }
  .wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
  }
  .wrapper .icon-closer {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #ffbc0d;
    font-size: 2em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
  }

  .wrapper .form-box {
    width: 100%;
    padding: 40px;
  }

  .form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
  }
  .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
  }
  .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
  }
  .input-box input:focus~label,
  .input-box input:not(:placeholder-shown)~label {
    top: -5px;
  }
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
  }
  .input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
  }

.remember-forgot {
  font-size: .9em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.the-log {
  user-select: none; /* Make the label unselectable */
}
.remember-forgot label input {
  accent-color: #162938;
  margin-right: 3px;
}
.remember-forgot a {
  color: #162938;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
.btn-lg {
  width: 100%;
  height: 45px;
  background: #ffbc0d;
  border: none;
  outline: none;
  border-radius: 6px !important;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.login-register {
  font-size: .9em;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0px 10px;
}
.login-register p a {
  color: #162938;
  text-decoration: none ;
  font-weight: 600;
}
.login-register p a:hover {
  text-decoration: underline;
}










  /*********************** LOGIN End *************************/ 
              